<div (click)='goDetail()'>
  <div style="background-image: url('assets/imgs/3.jpg');background-size: cover;height: 100%;width: 95%;position: absolute;top: 0;border-radius: 5px;">
  </div>
  <div class="top-item">
    <div class="pin-item">
      <span>Goal <span>{{goal}}</span></span>
      <span>
        <ion-icon name="pin"></ion-icon> <span>{{addressProject}}</span>
      </span>
    </div>
  </div>
  <div style=" top: 225px; " class="footer-item">
    <div class="progress-item">
      <span>{{nameProject}}</span>
    </div>
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
  </div>
  <div class="raised">
    <span>$65,988 Raised</span>
  </div>

</div>