<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <div (click)="openMenuUser()">
        <ion-avatar item-start>
          <img src="assets/imgs/1.jpg">
        </ion-avatar>
      </div>
    </ion-buttons>

    <div>
      <ion-title>
        <span style="text-align: start; font-size: 11px;"> Page Title</span>
        <span style="text-align: start">Page Title</span>
      </ion-title>
    </div>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>