<ion-menu side="right" [content]="content" id="menu1">

  <ion-header no-shadow no-border class="f-one">
    <ion-toolbar>
      <ion-title>Filters</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-one">
    <ion-list>
      <ion-item *ngFor="let categorie of resultCategories; let i=index">
        <ion-label>{{categorie.name.en}}</ion-label>
        <ion-checkbox color="danger" [(ngModel)]="itemsLevelsOne[i]" (ionChange)="updateCucumber()"></ion-checkbox>
      </ion-item>
    </ion-list>
    <div class="btn-filters">
      <button (click)='clearFilterOne()' class="clear-btn" ion-button>Clear Filters</button>
      <button (click)='saveFilterOne()' ion-button>Save</button>
    </div>
  </ion-content>
</ion-menu>

<ion-menu side="right" [content]="content" id="menu2">
  <ion-header no-shadow no-border class="f-one">
    <ion-toolbar>
      <ion-title>Filters</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let countrie of resultCountries;let i=index">
        <ion-label>{{countrie}}</ion-label>
        <ion-checkbox color="danger" [(ngModel)]="resultCountries[i]" (ionChange)="updateCucumber()"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngFor="let categorie of resultCategories;let i=index">
        <ion-label>{{categorie.name.en}}</ion-label>
        <ion-checkbox color="danger" [(ngModel)]="itemsLevelsOne[i]" (ionChange)="updateCucumber()"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-range dualKnobs="true" pin="true" [(ngModel)]="structure" (ionChange)="onChange($event)" color="danger">
        <ion-label range-left>-0</ion-label>
        <ion-label range-right>100</ion-label>
      </ion-range>
    </ion-item>
    <div class="btn-filters">
      <button (click)='clearFilterOne()' class="clear-btn" ion-button>Clear Filters</button>
      <button (click)='saveFilterOne()' ion-button>Save</button>
    </div>
  </ion-content>
</ion-menu>


<ion-menu side="left" [content]="content" id="menuUser">
  <ion-header>
    <ion-navbar>
      <ion-buttons left>
        <ion-avatar item-start>
          <img src="assets/imgs/1.jpg">
        </ion-avatar>
      </ion-buttons>

      <ion-title>
        <span style="text-align: start; font-size: 11px;"> Page Title</span>
        <span style="text-align: start">User name</span>
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="md-person" item-start color="gray"></ion-icon>
        <ion-label>Account Settings</ion-label>
      </ion-item>

      <button ion-item>
        <ion-icon name="md-lock" item-start color="gray"></ion-icon>
        <ion-label>Security Settings</ion-label>
      </button>

      <button ion-item>
        <ion-icon name="md-notifications" item-start color="gray"></ion-icon>
        <ion-label>Notification Settings</ion-label>
      </button>

      <button ion-item>
        <ion-icon name="md-refresh" item-start color="gray"></ion-icon>
        <ion-label>Donation History</ion-label>
      </button>

      <button ion-item>
        <ion-icon name="ios-card" item-start color="gray"></ion-icon>
        <ion-label>Subscriptions</ion-label>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>