page-discover {
  .img-blur {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 40%;

    // background-image: linear-gradient(#ff9d2f, #ff6126);
    transform: skewY(-6deg);
    transform-origin: top left;

    // background-image: url("./../../assets/imgs/photo_1.jpg");
    filter: blur(15px);
    transition: background-image .2s ease-in-out 0s;
  }

  .dot-red {
    height: 70vh;
    width: 100vh;
    background-color: #ed7566;
    border-radius: 50%;
    position: absolute;
    top: -200px;
    left: -80px;
  }

  .dot-back {
    height: 70vh;
    width: 70vh;
    background-color: red;
    position: absolute;
    top: -330px;
    left: -50px;
    transform: rotate(-110deg);
  }

  .dot-yellow {
    background-color: #f4aa33;
    border-radius: 50%;
    height: 70vh;
    left: -5px;
    position: absolute;
    top: -145px;
    transform: rotate(15deg);
    width: 100vh;
  }

  .photos {
    height: none;
    margin-inline-start: 10px;
    position: absolute;
    top: 90px;
  }

  .w-title {
    margin: 0 10px;
    padding: 10px;
    position: absolute;
    top: 410px;
    width: 95%;

    .title {
      font-size: 25px;
      font-weight: bold;
    }
  }

  .list-discover {
    position: absolute;
    top: 460px;
    width: 100%;

    .item-block {
      .item-inner {
        border-bottom: 0;
      }
    }

    .item {
      ion-thumbnail {
        img {
          border-radius: 5px;
          height: 80px;
          object-fit: cover;
          width: 110px;
        }
      }

      .item-inner {
        .input-wrapper {
          ion-label {
            h2 {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .slides {
    .swiper-container {
      height: auto;

      .swiper-wrapper {
        .swiper-slide {
          border-radius: 5px;
          height: 300px;
          overflow: hidden;

          ion-img {
            align-items: center;
            display: flex;
            height: 360px;
            justify-content: center;
            width: 100%;
          }
        }
      }
    }
  }

  .title-page {
    color: white;
    font-size: 30px;
    font-weight: bold;
    left: 10px;
    position: absolute;
    top: 20px;
    z-index: 1;
  }

  ion-avatar,
  ion-avatar > img {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
  }

  .toolbar-title-custom {
    display: flex;
    overflow: visible;
    position: relative;

    span {
      font-size: 11px;
    }

    .hello {
      position: absolute;
      top: -15px;
    }

    .subtitle {
      font-size: 90%;
      position: absolute;
      top: -4px;
    }
  }

  .toolbar-title-ios {
    display: flex;
    flex-direction: column;
  }

  .toolbar-ios ion-title {
    padding: 0 50px 1px;
  }

  .toolbar-title-md {
    display: flex;
    flex-direction: column;
  }


  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 120px;
    overflow: hidden;

    .scroll-item {
      display: inline-block;
    }

    .selectable-icon{
      margin: 10px 20px 10px 20px;
      color: red;
      font-size: 100px;
    }

    ion-avatar img{
      margin: 10px;
    }
  }

  ion-scroll[scroll-avatar]{
    height: 60px;
  }

  /* Hide ion-content scrollbar */
  ::-webkit-scrollbar{
    display:none;
  }

  .two-level {
    .swiper-slide {
      height: 170px !important;
    }

    .footer-item {
      top: 100px !important;
    }
  }

}
