page-detail {
  .title-page {
    position: absolute;
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
    top: 20px;
    left: 10px;
    color: black;
    padding: 15px;
    width: 92%;
  }

  .msn-detail {
    justify-content: center;
    display: flex;
    top: 50%;
    position: absolute;
    left: 23%;
    font-size: 25px;
    font-weight: bold;
    color: red;
  }
}
